canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

body {
  margin: 0px;
  overflow: hidden;
}

#loading {
  text-align: center;
  margin-left: 50px;
  z-index: 100;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 15%;
  color: ghostwhite;
}
.hidden {
  display: none !important;
}

#forward,
#backward,
#left,
#right,
#enter {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: gray;
  opacity: 0.5;
  border-radius: 50px;
  border: gray;
}

#forward {
  bottom: 20%;
  left: 20%;
}

#backward {
  bottom: 5%;
  left: 20%;
}

#left {
  bottom: 12.5%;
  left: 9%;
}

#right {
  bottom: 12.5%;
  left: 30%;
}

@media only screen and (min-width: 1000px) {
  #forward,
  #backward,
  #left,
  #right,
  #enter {
    display: none;
  }
}
